<html>
<head>
<title> Customs Application For Refund Of Duty </title>
  
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style>
table, th, td, tr {
 border: ;
 border-collapse: collapse;
}
label{
display: inline;
}

.field_with_errors input{
  border: 1px solid red !important;
  background-color: ;
}

.area_with_errors input{
  border: 1px solid red !important;
  background-color: ;
}
</style>
</head> 

<body style="background-color:#f5f3f2;" class="container">

  
<%= link_to 'Home', root_path %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<br><br>

<%= link_to 'View List of Applications Submitted for Post Modification', postmods_path %><br><br>
<br><br>
<%= form_with(model: postmod, local: true) do |form| %>
  <% if postmod.errors.any? %>

    <div id="error_explanation" style="font-color: red;">
      <h2 style="color:red"><%= pluralize(postmod.errors.count, "error") %> prohibited this postmod from being saved:</h2>

      <ul>
        <% postmod.errors.full_messages.each do |message| %>
          <li style="color: red;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <h2> Section I </h2>
  <table align="" width=100%>
    <tr><td align="left" width="33.3%">
          <div class="field" style="display: inline;">
            <%= form.label :Entry_number %><%= form.text_field :entrynum%>
              
          </div> 
         </td>

         <td align="left" width="33.3%"> 
          <div class="field" style="display: inline;">
            <%= form.label :Office_code %>  <%= form.text_field :officecode %>
               
          </div> 
         </td>

         <td align="left" width="33.3%">

         </td> 
    </tr>
</table>
<hr>
  <h2> Section II </h2>
  <h3><u>Certifications</u></h3>
  <table width="100%">
    <tr><td width="33.3%" align="left">
            <h4>Exemptions:</h4></td>
         <td width="33.3%" align="left"><h4>Agreements:</h4></td>
         <td width="33.3%" align="left"><h4>Permits/Certificates:</h4></td>
    </tr>
    <tr>
         <td width="33.3%" align="left">
            <div class="field" style="display: inline;">
                 <%= form.check_box :mof %>
                  <%= form.label :Ministry_Of_Finance %>
    
  </div>
</td><td width="33.3%" align="left">

  <div class="field" style="display: inline;">
    <%= form.check_box :government %>
    <%= form.label :Government %>
    
  </div></td><td width="33.3%" align="left">
      <div class="field" style="display: inline;">
        <%= form.check_box :doe %>
    <%= form.label :DOE %>
    
  </div>
  </td></tr>
  <tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :beltrade %>
    <%= form.label :Beltraid %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :nagreement %>
    <%= form.label :National_Agreements %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :cpharmacy %>
    <%= form.label :Chief_Pharmacy %>
    
  </div></td>
</tr>
<tr>
  <td width="33.3%" align="left">
      <div class="field" style="display: inline;">
        <%= form.check_box :motourism %>
    <%= form.label :Ministry_of_tourism %>
    
  </div>
</td>
  <td width="33.3%" align="left">



    </td>

  <td width="33.3%" align="left">  <div class="field" style="display: inline;">
    <%= form.check_box :townership %>
    <%= form.label :Transfer_of_ownership %>
    
  </div></td></tr>
  <tr><td width="33.3%" align="left">



  <div class="field" style="display: inline;">
    <%= form.check_box :mohealth %>
    <%= form.label :Ministry_of_health %>
    
  </div>
</td>
<td width="33.3%" align="left">




  </td>
  <td width="33.3%" align="left">
      <div class="field" style="display: inline;">
        <%= form.check_box :centralbank %>
    <%= form.label :Central_Bank %>
    
  </div>
</td></tr>
<tr>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :moeducation %>
    <%= form.label :Ministry_of_education %>
    
  </div>
</td></tr>
<tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :mosecurity %>
    <%= form.label :Ministry_of_national_security %>
    
  </div>
</td></tr>
<tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :dciagency %>
    <%= form.label :Diplomatic_Consulate_International_Agency %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :bosie %>
    <%= form.label :Bureau_of_Standards_Import_Export %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">   
  <div class="field" style="display: inline;">
    <%= form.label :Other%>
    <%= form.text_area :otherexcert %>
  </div>
  </td></tr>

</table>
<br><br>
<table width="100%">

<tr><td width="33.3%" align="left"><h3><u>General Modification</u>:</h3></td> 
    <td width="33.3%" align="left">
    <div class="field" style="display: inline;">
      <%= form.label :Amenment_fee_receipt_for_general_modification %>
       <%= form.number_field :amendfeerecgm %>
    </div>
    </td>
    <td width="33.3%" align="left"></td>
</tr>
<tr>
<td width="33.3%" align="left">

 <div class="field" style="display: inline;">
  <%= form.check_box :exporter %>
    <%= form.label :Exporter %>  
  </div>
</td>


  <td width="33.3%" align="left">


  <div class="field" style="display: inline;">
    <%= form.check_box :importer %>
    <%= form.label :Importer %>
    
  </div>
</td>


<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :noitems %>
    <%= form.label :Number_of_items %>
    
  </div>
</td>
</tr>
<tr>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :nopackage %>
    <%= form.label :No_package %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :vessel %>
    <%= form.label :Vessel %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.check_box :fccontainernum %> <%= form.label :Full_container_Container_number %>
    
  </div>
</td></tr>
<tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :location %> <%= form.label :Location %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :nmass %> <%= form.label :Net_mass %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :tainvoice %> <%= form.label :Total_Amount_invoice %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.check_box :description %> <%= form.label :Description %>
    
  </div>
</td>
  <td width="33.3%" align="left">
  <div class="field" style="display: inline;">
  <%= form.check_box :commcode %>  <%= form.label :Commodity_code %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :vinserial %><%= form.label :Vin_serial_or__number %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.check_box :airbill %> <%= form.label :Airway_bill %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.check_box :origin %> <%= form.label :Origin %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :gmass %><%= form.label :Gross_mass %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :currency %> <%= form.label :Currency %>
   
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :iquantity %><%= form.label :Item_Quantity %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :procexproccode %><%= form.label :Procedure_Extended_Procedure_Code %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :itemvalue %><%= form.label :Item_value %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :prevdocrefnum %><%= form.label :Previous_Document_Reference_Number %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :bolading %><%= form.label :bolading %>
    
  </div>
</td></tr></table><br><br>

 <table width="100%">
  <tr><td width="33.3%" align="left"><h3><u>Attachment of Supporting Documents</u>:</h3></td> 
    <td width="33.3%" align="left">
    <div class="field" style="display: inline;">
     <%= form.label :Ammendment_fee_receipt_for_attachment_of_supporting_document %> <%= form.number_field :amendfeerec %>
       
    </div>
    </td>
    <td width="33.3%" align="left"></td>
  </tr></table>

<table width="100%">
  <tr>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.check_box :transletter %> <%= form.label :transletter %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :invoice %><%= form.label :Invoice %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :vvslip %><%= form.label :Vehicle_Valuation_Slip %>
    
  </div>
</td></tr>
<tr>
  <td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :sscertificate %><%= form.label :Short_Shipment_Certificate %>
    
  </div>
</td>

<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :popayment %><%= form.label :Proof_of_payment %>
    
  </div>
</td>

<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :certorigin %><%= form.label :Certificate_of_origin %>
    
  </div>
</td></tr>
<tr>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :worksheet %><%= form.label :Worksheet %>
    
  </div>
</td><td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :overlandedcert %><%= form.label :Overlanded_Certificate %>
    
  </div>
</td></tr><tr><td width="33.3%" align="left">
 <div class="field" style="display: inline;">
    <%= form.label :Other %><%= form.text_area :otherasdbox %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
   <%= form.label :reason %> <%= form.text_area :reason %>
    
  </div></td>
</tr>
</table>
<hr>
<h2>Section III</h2>
<h2 align="center"> For Official Use Only </h2>
<table>
  <tr>
 <td width="33.3%" align="left">
 



  <div class="field" style="display: inline;">
    <%= form.check_box :approved %><%= form.label :Approved %>
    
  </div>
</td>
<td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :denied %><%= form.label :Denied %>
    
  </div>
</td>
  <td width="33.3%" align="left">
  <div class="field" style="display: inline;">
    <%= form.check_box :addinfo %><%= form.label :Additional_Information %>
    
  </div>
</td></tr>
<tr><td width="33.3%" align="left">
    <div class="field" style="display: inline;">
    <%= form.label :Remarks %><%= form.text_area :remarks %>
    
  </div></td>
</tr>
<tr><td>

  <div class="actions">
    <%= form.submit %>
  </div>
</td></tr>
</table>
<% end %>
</div>
</html>