<html>
<head>
<title> Customs Application For Refund Of Duty </title>
<style>
table, th, td, tr {
 border: 1px solid black;
 border-collapse: collapse;
 text-align: center;
 background-color:#f5f3f2;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1 align="center">Submitted Applications For Refund OF Duty</h1>
<br><br>
<%= link_to 'Home', root_path %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<br><br>
<a href="http://customsapplications.herokuapp.com/admin">Administration Panel</a><br><br>
<%= link_to 'View List of Applications Submitted for Refund of Duty', refunds_path %><br><br>
<%= link_to 'New Application for Refund of Duty', new_refund_path %>
<br><br>


<p id="notice"><%= notice %></p>

<h1>Postmods</h1>


<table width="100%">
  <thead>
    <tr>
      <th>Request ID</th>
      <th>Entry Number</th>
      <th>Office Code</th>
      <th>Username</th>
      <th>Date/Time Created</th> 
      <th>Date/Time Updated</th>  
    </tr>
  </thead>
<tbody>
    <% @postmods.each do |postmod| %>
    <% if postmod.user.username == current_user.username || current_user.admin == true %>
      <tr>
        <td><%= postmod.id %></td>
        <td><%= postmod.entrynum %></td>
        <td><%= postmod.officecode%></td>
        <td><%= postmod.user.username %></td>
         <td><%= postmod.created_at %></td>
         <td><%= postmod.updated_at %></td>
      
        <td><%=link_to 'Show', postmod %>
        <% if current_user.admin == true %>
        <td><%= link_to 'Edit', edit_postmod_path(postmod) %></td>
        <% end %>
        <% if current_user.admin == true %>
        <td><%= link_to 'Destroy', postmod, method: :delete, data: {confirm: 'Are You Sure?' } %>
        <% end %>
       </td>
      </tr>
    <% end %>

<%end%>
</tbody>
</table>
<br><br><br><br>
<table>
  <thead>
    <tr>
      <th>Mof</th>
      <th>Beltrade</th>
      <th>Motourism</th>
      <th>Mohealth</th>
      <th>Moeducation</th>
      <th>Mosecurity</th>
      <th>Dciagency</th>
      <th>Bosie</th>
      <th>Other</th>
      <th>Government</th>
      <th>Nagreement</th>
      <th>Doe</th>
      <th>Cpharmacy</th>
      <th>Townership</th>
      <th>Centralbank</th>
      <th>Exporter</th>
      <th>Importer</th>
      <th>Noitems</th>
      <th>Nopackage</th>
      <th>Vessel</th>
      <th>Fccontainernum</th>
      <th>Location</th>
      <th>Nmass</th>
      <th>Tainvoice</th>
      <th>Description</th>
      <th>Commcode</th>
      <th>Vinserial</th>
      <th>Airbill</th>
      <th>Origin</th>
      <th>Gmass</th>
      <th>Currency</th>
      <th>Iquantity</th>
      <th>Procexproccode</th>
      <th>Itemvalue</th>
      <th>Prevdocrefnum</th>
      <th>Bolading</th>
      <th>Amendfeerec</th>
      <th>Transletter</th>
      <th>Invoice</th>
      <th>Vvslip</th>
      <th>Sscertificate</th>
      <th>Otherasd</th>
      <th>Popayment</th>
      <th>Certorigin</th>
      <th>Worksheet</th>
      <th>Overlandedcert</th>
      <th>Othercertbox</th>
      <th>Otherasdbox</th>
      <th>Reason</th>
      <th>Approved</th>
      <th>Denied</th>
      <th>Addinfo</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postmods.each do |postmod| %>
      <tr>
        <td><%= postmod.mof %></td>
        <td><%= postmod.beltrade %></td>
        <td><%= postmod.motourism %></td>
        <td><%= postmod.mohealth %></td>
        <td><%= postmod.moeducation %></td>
        <td><%= postmod.mosecurity %></td>
        <td><%= postmod.dciagency %></td>
        <td><%= postmod.bosie %></td>
        <td><%= postmod.other %></td>
        <td><%= postmod.government %></td>
        <td><%= postmod.nagreement %></td>
        <td><%= postmod.doe %></td>
        <td><%= postmod.cpharmacy %></td>
        <td><%= postmod.townership %></td>
        <td><%= postmod.centralbank %></td>
        <td><%= postmod.exporter %></td>
        <td><%= postmod.importer %></td>
        <td><%= postmod.noitems %></td>
        <td><%= postmod.nopackage %></td>
        <td><%= postmod.vessel %></td>
        <td><%= postmod.fccontainernum %></td>
        <td><%= postmod.location %></td>
        <td><%= postmod.nmass %></td>
        <td><%= postmod.tainvoice %></td>
        <td><%= postmod.description %></td>
        <td><%= postmod.commcode %></td>
        <td><%= postmod.vinserial %></td>
        <td><%= postmod.airbill %></td>
        <td><%= postmod.origin %></td>
        <td><%= postmod.gmass %></td>
        <td><%= postmod.currency %></td>
        <td><%= postmod.iquantity %></td>
        <td><%= postmod.procexproccode %></td>
        <td><%= postmod.itemvalue %></td>
        <td><%= postmod.prevdocrefnum %></td>
        <td><%= postmod.bolading %></td>
        <td><%= postmod.amendfeerec %></td>
        <td><%= postmod.transletter %></td>
        <td><%= postmod.invoice %></td>
        <td><%= postmod.vvslip %></td>
        <td><%= postmod.sscertificate %></td>
        <td><%= postmod.otherasd %></td>
        <td><%= postmod.popayment %></td>
        <td><%= postmod.certorigin %></td>
        <td><%= postmod.worksheet %></td>
        <td><%= postmod.overlandedcert %></td>
        <td><%= postmod.othercertbox %></td>
        <td><%= postmod.otherasdbox %></td>
        <td><%= postmod.reason %></td>
        <td><%= postmod.approved %></td>
        <td><%= postmod.denied %></td>
        <td><%= postmod.addinfo %></td>
        <td><%= postmod.user_id %></td>
        <td><%= link_to 'Show', postmod %></td>
        <td><%= link_to 'Edit', edit_postmod_path(postmod) %></td>
        <td><%= link_to 'Destroy', postmod, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Postmod', new_postmod_path %>
