<html>
<head>
<title> Customs Application For Post Modification </title>
<style>

label{
display: inline-flex;
}
</style>
</head> 

<body style="background-color:#f5f3f2; ">
<h1 align="center">Customs Application For Post Modification</h1>
<%= link_to 'Home', root_path %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<br><br>
<a href="http://customsapplications.herokuapp.com/admin">Administration Panel</a><br><br>
<%= link_to 'View List of Applications Submitted for Post Modification', postmods_path %><br><br>
<%= link_to 'Application for Post Modification', new_postmod_path %>
<br><br>

<%= form_with(model: @postmod, local: true) do |form| %>
  <% if @postmod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(postmod.errors.count, "error") %> prohibited this refund from being saved:</h2>

      <ul>
        <% @postmod.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<p id="notice"><%= notice %></p>

<h2> Section I</h2>
<div class="field">
<table style="border: none;" width="100%"><tr><td width="33.3%">
    <%= form.label :Entry_Number %>
    <%= form.text_field :entrynum, value:@postmod.entrynum %>
    </td><td width="33.3%">
    <%= form.label :Office_Code %>
    <%= form.number_field :officecode, value:@postmod.officecode %>
</td><td width="33.3%">
    
</td></tr></table>
</div>

<hr>
<h2> Section II </h2>
<h2> Certifications </h2>
<p>


<table style="border: none;" width="100%"><tr><td width="33.3%"><h4>Exemptions</h4></td><td width="33.3%"><h4>Agreements</h4></td><td width="33.3%"><h4>Permits/Certificates</h4></td></tr><tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :mof, value:@postmod.mof %><%= form.label :Ministry_of_Finance %>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :government, value:@postmod.government %> <%= form.label :government %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :doe, value:@postmod.doe %> <%= form.label :Department_of_environment %>
    
  </div>
</td>

</tr><tr>


<td width="33.3%">
<div class="field">
  <%= form.check_box :beltrade, value:@postmod.beltrade %> <%= form.label :Beltrade %>
   
</div>
</td>


<td width="33.3%">
<div class="field">
  <%= form.check_box :nagreement, value:@postmod.nagreement %> <%= form.label :National_Agreement %>
   
</div>
</td>

<td width="33.3%">
<div class="field">
  <%= form.check_box :cpharmacy, value:@postmod.cpharmacy %> <%= form.label :Chief_Pharmacy %>
   
</div>
</td>
</tr>
<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :motourism, value:@postmod.motourism %> <%= form.label :Ministry_of_Tourism %>
   
</div>
</td>

<td width="33.3%">
<div class="field">
 
   
</div>
</td>

<td width="33.3%">
<div class="field">
  <%= form.check_box :townership, value:@postmod.townership %> <%= form.label :Transfer_of_ownership %>
   
</div>
</td> 
</tr>
<tr>
  <td width="33.3%">
<div class="field">
  <%= form.check_box :mohealth, value:@postmod.mohealth%> <%= form.label :Ministry_of_health %>
   
</div>
</td> 

<td width="33.3%">
<div class="field">

   
</div>
</td> 

<td width="33.3%">
<div class="field">
  <%= form.check_box :centralbank, value:@postmod.centralbank %> <%= form.label :Central_Bank %>
   
</div>
</td> 
</tr>
<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :moeducation, value:@postmod.moeducation %> <%= form.label :Ministry_of_Education %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :mosecurity, value:@postmod.mosecurity %> <%= form.label :Ministry_of_National_Security %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :dciagency, value:@postmod.dciagency %> <%= form.label :Bureau_of_standards_Import_Export %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :bosie, value:@postmod.bosie %> <%= form.label :Diplomatic_Consulate_International_Agency %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
 <%= form.label :Other %> <%= form.text_area :otherexcert, value:@postmod.otherexcert %> 
   
</div>
</td> 
</tr>

</table>
<h2>General Modification</h2>



  <strong>Mof:</strong>
  <%= @postmod.mof %>
</p>


<p>
  <strong>Motourism:</strong>
  <%= @postmod.motourism %>
</p>

<p>
  <strong>Mohealth:</strong>
  <%= @postmod.mohealth %>
</p>

<p>
  <strong>Moeducation:</strong>
  <%= @postmod.moeducation %>
</p>

<p>
  <strong>Mosecurity:</strong>
  <%= @postmod.mosecurity %>
</p>

<p>
  <strong>Dciagency:</strong>
  <%= @postmod.dciagency %>
</p>

<p>
  <strong>Bosie:</strong>
  <%= @postmod.bosie %>
</p>

<p>
  <strong>Other:</strong>
  <%= @postmod.other %>
</p>

<p>
  <strong>Government:</strong>
  <%= @postmod.government %>
</p>

<p>
  <strong>Nagreement:</strong>
  <%= @postmod.nagreement %>
</p>


<p>
  <strong>Cpharmacy:</strong>
  <%= @postmod.cpharmacy %>
</p>

<p>
  <strong>Townership:</strong>
  <%= @postmod.townership %>
</p>

<p>
  <strong>Centralbank:</strong>
  <%= @postmod.centralbank %>
</p>

<p>
  <strong>Exporter:</strong>
  <%= @postmod.exporter %>
</p>

<p>
  <strong>Importer:</strong>
  <%= @postmod.importer %>
</p>

<p>
  <strong>Noitems:</strong>
  <%= @postmod.noitems %>
</p>

<p>
  <strong>Nopackage:</strong>
  <%= @postmod.nopackage %>
</p>

<p>
  <strong>Vessel:</strong>
  <%= @postmod.vessel %>
</p>

<p>
  <strong>Fccontainernum:</strong>
  <%= @postmod.fccontainernum %>
</p>

<p>
  <strong>Location:</strong>
  <%= @postmod.location %>
</p>

<p>
  <strong>Nmass:</strong>
  <%= @postmod.nmass %>
</p>

<p>
  <strong>Tainvoice:</strong>
  <%= @postmod.tainvoice %>
</p>

<p>
  <strong>Description:</strong>
  <%= @postmod.description %>
</p>

<p>
  <strong>Commcode:</strong>
  <%= @postmod.commcode %>
</p>

<p>
  <strong>Vinserial:</strong>
  <%= @postmod.vinserial %>
</p>

<p>
  <strong>Airbill:</strong>
  <%= @postmod.airbill %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @postmod.origin %>
</p>

<p>
  <strong>Gmass:</strong>
  <%= @postmod.gmass %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @postmod.currency %>
</p>

<p>
  <strong>Iquantity:</strong>
  <%= @postmod.iquantity %>
</p>

<p>
  <strong>Procexproccode:</strong>
  <%= @postmod.procexproccode %>
</p>

<p>
  <strong>Itemvalue:</strong>
  <%= @postmod.itemvalue %>
</p>

<p>
  <strong>Prevdocrefnum:</strong>
  <%= @postmod.prevdocrefnum %>
</p>

<p>
  <strong>Bolading:</strong>
  <%= @postmod.bolading %>
</p>

<p>
  <strong>Amendfeerec:</strong>
  <%= @postmod.amendfeerec %>
</p>

<p>
  <strong>Transletter:</strong>
  <%= @postmod.transletter %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @postmod.invoice %>
</p>

<p>
  <strong>Vvslip:</strong>
  <%= @postmod.vvslip %>
</p>

<p>
  <strong>Sscertificate:</strong>
  <%= @postmod.sscertificate %>
</p>

<p>
  <strong>Otherasd:</strong>
  <%= @postmod.otherasd %>
</p>

<p>
  <strong>Popayment:</strong>
  <%= @postmod.popayment %>
</p>

<p>
  <strong>Certorigin:</strong>
  <%= @postmod.certorigin %>
</p>

<p>
  <strong>Worksheet:</strong>
  <%= @postmod.worksheet %>
</p>

<p>
  <strong>Overlandedcert:</strong>
  <%= @postmod.overlandedcert %>
</p>

<p>
  <strong>Othercertbox:</strong>
  <%= @postmod.othercertbox %>
</p>

<p>
  <strong>Otherasdbox:</strong>
  <%= @postmod.otherasdbox %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @postmod.reason %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @postmod.approved %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @postmod.denied %>
</p>

<p>
  <strong>Addinfo:</strong>
  <%= @postmod.addinfo %>
</p>

<p>
  <strong>User:</strong>
  <%= @postmod.user_id %>
</p>

<%= link_to 'Edit', edit_postmod_path(@postmod) %> |
<%= link_to 'Back', postmods_path %>
<% end %>
</body>
</html>