<p id="notice"><%= notice %></p>

<p>
  <strong>Mof:</strong>
  <%= @postmod.mof %>
</p>

<p>
  <strong>Beltrade:</strong>
  <%= @postmod.beltrade %>
</p>

<p>
  <strong>Motourism:</strong>
  <%= @postmod.motourism %>
</p>

<p>
  <strong>Mohealth:</strong>
  <%= @postmod.mohealth %>
</p>

<p>
  <strong>Moeducation:</strong>
  <%= @postmod.moeducation %>
</p>

<p>
  <strong>Mosecurity:</strong>
  <%= @postmod.mosecurity %>
</p>

<p>
  <strong>Dciagency:</strong>
  <%= @postmod.dciagency %>
</p>

<p>
  <strong>Bosie:</strong>
  <%= @postmod.bosie %>
</p>

<p>
  <strong>Other:</strong>
  <%= @postmod.other %>
</p>

<p>
  <strong>Government:</strong>
  <%= @postmod.government %>
</p>

<p>
  <strong>Nagreement:</strong>
  <%= @postmod.nagreement %>
</p>

<p>
  <strong>Doe:</strong>
  <%= @postmod.doe %>
</p>

<p>
  <strong>Cpharmacy:</strong>
  <%= @postmod.cpharmacy %>
</p>

<p>
  <strong>Townership:</strong>
  <%= @postmod.townership %>
</p>

<p>
  <strong>Centralbank:</strong>
  <%= @postmod.centralbank %>
</p>

<p>
  <strong>Exporter:</strong>
  <%= @postmod.exporter %>
</p>

<p>
  <strong>Importer:</strong>
  <%= @postmod.importer %>
</p>

<p>
  <strong>Noitems:</strong>
  <%= @postmod.noitems %>
</p>

<p>
  <strong>Nopackage:</strong>
  <%= @postmod.nopackage %>
</p>

<p>
  <strong>Vessel:</strong>
  <%= @postmod.vessel %>
</p>

<p>
  <strong>Fccontainernum:</strong>
  <%= @postmod.fccontainernum %>
</p>

<p>
  <strong>Location:</strong>
  <%= @postmod.location %>
</p>

<p>
  <strong>Nmass:</strong>
  <%= @postmod.nmass %>
</p>

<p>
  <strong>Tainvoice:</strong>
  <%= @postmod.tainvoice %>
</p>

<p>
  <strong>Description:</strong>
  <%= @postmod.description %>
</p>

<p>
  <strong>Commcode:</strong>
  <%= @postmod.commcode %>
</p>

<p>
  <strong>Vinserial:</strong>
  <%= @postmod.vinserial %>
</p>

<p>
  <strong>Airbill:</strong>
  <%= @postmod.airbill %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @postmod.origin %>
</p>

<p>
  <strong>Gmass:</strong>
  <%= @postmod.gmass %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @postmod.currency %>
</p>

<p>
  <strong>Iquantity:</strong>
  <%= @postmod.iquantity %>
</p>

<p>
  <strong>Procexproccode:</strong>
  <%= @postmod.procexproccode %>
</p>

<p>
  <strong>Itemvalue:</strong>
  <%= @postmod.itemvalue %>
</p>

<p>
  <strong>Prevdocrefnum:</strong>
  <%= @postmod.prevdocrefnum %>
</p>

<p>
  <strong>Bolading:</strong>
  <%= @postmod.bolading %>
</p>

<p>
  <strong>Amendfeerec:</strong>
  <%= @postmod.amendfeerec %>
</p>

<p>
  <strong>Transletter:</strong>
  <%= @postmod.transletter %>
</p>

<p>
  <strong>Invoice:</strong>
  <%= @postmod.invoice %>
</p>

<p>
  <strong>Vvslip:</strong>
  <%= @postmod.vvslip %>
</p>

<p>
  <strong>Sscertificate:</strong>
  <%= @postmod.sscertificate %>
</p>

<p>
  <strong>Otherasd:</strong>
  <%= @postmod.otherasd %>
</p>

<p>
  <strong>Popayment:</strong>
  <%= @postmod.popayment %>
</p>

<p>
  <strong>Certorigin:</strong>
  <%= @postmod.certorigin %>
</p>

<p>
  <strong>Worksheet:</strong>
  <%= @postmod.worksheet %>
</p>

<p>
  <strong>Overlandedcert:</strong>
  <%= @postmod.overlandedcert %>
</p>

<p>
  <strong>Othercertbox:</strong>
  <%= @postmod.othercertbox %>
</p>

<p>
  <strong>Otherasdbox:</strong>
  <%= @postmod.otherasdbox %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @postmod.reason %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @postmod.approved %>
</p>

<p>
  <strong>Denied:</strong>
  <%= @postmod.denied %>
</p>

<p>
  <strong>Addinfo:</strong>
  <%= @postmod.addinfo %>
</p>

<p>
  <strong>User:</strong>
  <%= @postmod.user_id %>
</p>

<%= link_to 'Edit', edit_postmod_path(@postmod) %> |
<%= link_to 'Back', postmods_path %>
