<html>
<head>
<title> Customs Application For Post Modification </title>
<style>
table, th, td, tr {
 border: ;
 border-collapse: collapse;
}
label{

}
</style>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  

</head> 

<body style="background-color:#f5f3f2;" class="container">
<h1 align="center">Customs Application For Post Modification</h1>

<br><br>
<a href="http://customsapplications.herokuapp.com/admin">Administration Panel</a><br><br>

<br><br>

<%= form_with(model: @postmod, local: true) do |form| %>






<h2> Section I</h2>
<div class="field">
<table style="border: none;" width="100%"><tr><td width="33.3%">
    <%= form.label :Entry_Number %><br>
    <%= form.text_field :entrynum, value:@postmod.entrynum, :disabled=>true %>
    </td><td width="33.3%">
    <%= form.label :Office_Code %><br>
    <%= form.number_field :officecode, value:@postmod.officecode, :disabled=>true %>
</td><td width="33.3%">
    
</td></tr></table>
</div>

<hr>

<h2> Section II </h2>
<h3> Certifications </h3>



<table style="border: none;" width="100%"><tr><td width="33.3%"><h4>Exemptions</h4></td><td width="33.3%"><h4>Agreements</h4></td><td width="33.3%"><h4>Permits/Certificates</h4></td></tr><tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :mof, value:@postmod.mof %><%= form.label :Ministry_of_Finance %>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :government, value:@postmod.government %> <%= form.label :government %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :doe, value:@postmod.doe %> <%= form.label :Department_of_environment %>
    
  </div>
</td>

</tr><tr>


<td width="33.3%">
<div class="field">
  <%= form.check_box :beltrade, value:@postmod.beltrade %> <%= form.label :Beltrade %>
   
</div>
</td>


<td width="33.3%">
<div class="field">
  <%= form.check_box :nagreement, value:@postmod.nagreement %> <%= form.label :National_Agreement %>
   
</div>
</td>

<td width="33.3%">
<div class="field">
  <%= form.check_box :cpharmacy, value:@postmod.cpharmacy %> <%= form.label :Chief_Pharmacy %>
   
</div>
</td>
</tr>
<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :motourism, value:@postmod.motourism %> <%= form.label :Ministry_of_Tourism %>
   
</div>
</td>

<td width="33.3%">
<div class="field">
 
   
</div>
</td>

<td width="33.3%">
<div class="field">
  <%= form.check_box :townership, value:@postmod.townership %> <%= form.label :Transfer_of_ownership %>
   
</div>
</td> 
</tr>
<tr>
  <td width="33.3%">
<div class="field">
  <%= form.check_box :mohealth, value:@postmod.mohealth%> <%= form.label :Ministry_of_health %>
   
</div>
</td> 

<td width="33.3%">
<div class="field">

   
</div>
</td> 

<td width="33.3%">
<div class="field">
  <%= form.check_box :centralbank, value:@postmod.centralbank %> <%= form.label :Central_Bank %>
   
</div>
</td> 
</tr>
<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :moeducation, value:@postmod.moeducation %> <%= form.label :Ministry_of_Education %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :mosecurity, value:@postmod.mosecurity %> <%= form.label :Ministry_of_National_Security %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :dciagency, value:@postmod.dciagency %> <%= form.label :Bureau_of_standards_Import_Export %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
  <%= form.check_box :bosie, value:@postmod.bosie %> <%= form.label :Diplomatic_Consulate_International_Agency %>
   
</div>
</td> 
</tr>

<tr>
<td width="33.3%">
<div class="field">
 <%= form.label :Other %> <%= form.text_area :otherexcert, value:@postmod.otherexcert %> 
   
</div>
</td> 
</tr>

</table><br>
<table width="100%"><tr><td width="33.3%" align="left"><h3><u>General Modification</u>:</h3></td> 
    <td width="33.3%" align="left">
    <div class="field" style="display: inline-flex;">
      <%= form.label :Amenment_fee_receipt_for_general_modification %>
       <%= form.number_field :amendfeerecgm, value:@amendfeerecgm %>
    </div>
    </td>
    <td width="33.3%" align="left"></td>
</tr>

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :mof, value:@postmod.exporter %><%= form.label :Exporter %>
    
  </div>
    </td>
    <td width="33.3%">
      <div class="field">
    <%= form.check_box :importer, value:@postmod.importer %> <%= form.label :Importer %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :noitems, value:@postmod.noitems %> <%= form.label :Number_Of_Items %>
    
  </div>
</td>

</tr>

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :nopackage, value:@postmod.nopackage %><%= form.label :No_package %>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :vessel, value:@postmod.vessel %> <%= form.label :Vessel %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :fccontainernum, value:@postmod.fccontainernum %> <%= form.label :Full_container_container_number %>
    
  </div>
</td>

</tr>


<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :location, value:@postmod.location %><%= form.label :Location %>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :nmass, value:@postmod.nmass %> <%= form.label :Net_Mass %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :tainvoice, value:@postmod.tainvoice %> <%= form.label :Total_amount_invoice %>
    
  </div>
</td>

</tr>

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :description, value:@postmod.description %><%= form.label :Description%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :commcode, value:@postmod.commcode %> <%= form.label :Commodity_Code %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :vinserial, value:@postmod.vinserial %> <%= form.label :Vin_Number_Serial_Number %>
    
  </div>
</td>

</tr>

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :airbill, value:@postmod.airbill %><%= form.label :Airway_bill%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :origin, value:@postmod.origin %> <%= form.label :Origin %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :gmass, value:@postmod.gmass %> <%= form.label :Gross_Mass %>
    
  </div>
</td>

</tr>


<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :currency, value:@postmod.currency %><%= form.label :Currency%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :iquantity, value:@postmod.iquantity %> <%= form.label :Item_Quantity %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :procexproccode, value:@postmod.procexproccode %> <%= form.label :Procedure_extended_procedure_code %>
    
  </div>
</td>

</tr>

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :itemvalue, value:@postmod.itemvalue %><%= form.label :Item_value%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :prevdocrefnum, value:@postmod.prevdocrefnum %> <%= form.label :Previous_document_reference_number %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :bolading, value:@postmod.bolading %> <%= form.label :Bill_of_lading %>
    
  </div>
</td>

</tr> </table><br>

 <table width="100%">
  <tr><td width="33.3%" align="left"><h3><u>Attachment of Supporting Documents</u>:</h3></td> 
    <td width="33.3%" align="left">
    <div class="field" style="">
     <%= form.label :Ammendment_fee_receipt_for_attachment_of_supporting_document %> <br> <%= form.number_field :amendfeerec, value:@amendfeerec %>
       
    </div>
    </td>
    <td width="33.3%" align="left"></td>
  </tr></table>

<table width="100%">
<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :transletter, value:@postmod.transletter %><%= form.label :Translation_Letter%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :invoice, value:@postmod.invoice %> <%= form.label :Invoice %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :vvslip, value:@postmod.vvslip %> <%= form.label :Vehicle_Valuation_Slip %>
    
  </div>
</td>

</tr> 

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :sscertificate, value:@postmod.sscertificate %><%= form.label :Short_Shipment_Certificate%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :popayment, value:@postmod.popayment %> <%= form.label :Proof_of_payment %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :certorigin, value:@postmod.certorigin %> <%= form.label :Certificate_of_origin %>
    
  </div>
</td>

</tr> 

<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :worksheet, value:@postmod.worksheet %><%= form.label :Worksheet%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :overlandedcert, value:@postmod.overlandedcert %> <%= form.label :Overlanded_Certificate %>
   
  </div>
</td></tr><tr>
<td width="33.3%">
    <div class="field">
  <%= form.label :Other %><br> <%= form.text_area :othercertbox, value:@postmod.othercertbox %> 
    
  </div>
</td>

<td width="33.3%">
    <div class="field">
  <%= form.label :Reason %> <br><%= form.text_area :reason, value:@postmod.reason %> 
    
  </div>
</td>

</tr> 
</table>




<h2>Section III</h2>
<h2 align="center">For Official Use</h2>
<table width=100%>
<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.check_box :approved, value:@postmod.approved, :disabled=>true %><%= form.label :Approved%>
    
  </div>
    </td><td width="33.3%">
      <div class="field">
    <%= form.check_box :denied, value:@postmod.denied, :disabled=>true %> <%= form.label :Denied %>
   
  </div>
</td>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :addinfo, value:@postmod.addinfo, :disabled=>true %> <%= form.label :Additional_Information %>
    
  </div>
</td>

</tr>
<tr>
  <td width="33.3%">
    <div class="field">
    <%= form.label :admin_reason%><br><%= form.text_area :adminreason, value:@postmod.adminreason, :disabled=>true%>
    
  </div>
    </td>
    <td width="33.3%">
      <div class="field">
     <%= form.label :ammendment_cost_to_be_paid %><br><%= form.number_field :ammendcost, value:@postmod.denied, :disabled=>true %>
   
  </div>
</td>
<tr>
<td width="33.3%">
    <div class="field">
   <%= form.check_box :recorded, value:@postmod.recorded, :disabled=>true %> <%= form.label :recorded %>
    
  </div>
</td>

</tr>

</table>
<br><br>



<% end %>

</body>
</html>
