
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notification - Customs Application for Post Modification </h1>
    <p>    your username is: <%=  @postmod.user_id %><br>
           your username is: <%=  @postmod.entrynum %><br>
           your username is: <%=  @postmod.officecode %><br>
           your username is: <%=  @postmod.mof %><br>
           your username is: <%=  @postmod.beltrade %><br>
    </p>
    <p>
      To login to the site, just follow this link: .
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>