<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <h5>>
        <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <h3>An Administrator has edited a Request for Post Modification. Please see summary of details.</h3> <br>
         Administrator: <%= @postmod.current_user %>.<br>
         Entry Number: <%= @postmod.entrynum %><br>
         Office Code: <%= @postmod.officecode %> <br>
         Approve Status: <%= @postmod.approved %> <br>
         Recorded Status: <% @postmod.recorded %><br>
      <% else %>
         <h3>New Request for Post Modification has arrived. Please see summary of details.</h3> <br>
            Broker: <%= @postmod.current_user %>.<br>
            Entry Number: <%= @postmod.entrynum %><br>
            Office Code: <%= @postmod.officecode %> <br>
            Approve Status: <%= @postmod.approved %> <br>
            Recorded Status: <% @postmod.recorded %><br>
      <%end%>


    </h5>
    </p>
    <p>
      To login to the site for approval/denial, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>