
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Notification - Customs & Excise Application for Post Modification </h1>
    <p>    

        <% if @postmod.user_id > 7 %>
                <h2>This Notification is from a Broker!</h2>
            <% else %>
                <h2>This Notification is from an Administrator!</h2>
        <% end %>

              <% if @postmod.entrynum? %>
                  Entry Number: <%= @postmod.entrynum %><br>
              <% end %>

               <% if @postmod.officecode? %>
                  Office Code: <%= @postmod.officecode %><br>
              <% end %>

           <h3>   Approved Status: <%= @postmod.approved %></h3><br>
            <h3>  Recorded Status: <%= @postmod.recorded %></h3><br>

               <% if @postmod.mof? %>
                  Ministry of Finance: <%= @postmod.mof %><br>
              <% end %>

               <% if @postmod.beltrade? %>
                  Beltrade: <%= @postmod.beltrade %><br>
              <% end %>

               <% if @postmod.motourism? %>
                  Ministry of Tourism: <%= @postmod.motourism %><br>
              <% end %>

               <% if @postmod.mohealth? %>
                  Ministry of Health: <%= @postmod.mohealth %><br>
              <% end %>

               <% if @postmod.moeducation? %>
                  Ministry of Education: <%= @postmod.moeducation %><br>
              <% end %>

               <% if @postmod.mosecurity? %>
                  Ministry of National Security: <%= @postmod.mosecurity %><br>
              <% end %>


                <% if @postmod.dciagency? %>
                  Diplomatic Consulate International Agency: <%= @postmod.dciagency %><br>
              <% end %>

                 <% if @postmod.bosie? %>
                  Breuro of Standards Import/Export: <%= @postmod.bosie %><br>
              <% end %>

                 <% if @postmod.othercertbox? %>
                  Other: <%= @postmod.othercertbox %><br>
              <% end %>
                 <% if @postmod.government? %>
                  Government: <%= @postmod.government %><br>
              <% end %>

                 <% if @postmod.nagreement? %>
                  National Agreement: <%= @postmod.nagreement %><br>
              <% end %>

               <% if @postmod.doe? %>
                  DOE: <%= @postmod.doe %><br>
              <% end %>

               <% if @postmod.cpharmacy? %>
                  Chief Pharmacy: <%= @postmod.cpharmacy %><br>
              <% end %>

               <% if @postmod.townership? %>
                  Transfer of Ownership: <%= @postmod.townership %><br>
              <% end %>

               <% if @postmod.centralbank? %>
                  Central Bank: <%= @postmod.centralbank %><br>
              <% end %>

               <% if @postmod.exporter? %>
                  Exporter: <%= @postmod.exporter %><br>
              <% end %>

               <% if @postmod.importer? %>
                  Importer: <%= @postmod.importer %><br>
              <% end %>

               <% if @postmod.noitems %>
                  Number of Items: <%= @postmod.noitems %><br>
              <% end %>

               <% if @postmod.nopackage? %>
                  No Package: <%= @postmod.nopackage %><br>
              <% end %>

               <% if @postmod.vessel? %>
                  Vessel: <%= @postmod.vessel%><br>
              <% end %>

               <% if @postmod.fccontainernum? %>
                  Full Container / Container Number: <%= @postmod.fccontainernum %><br>
              <% end %>

               <% if @postmod.location? %>
                  Location: <%= @postmod.location%><br>
              <% end %>

               <% if @postmod.nmass? %>
                  Net Mass: <%= @postmod.nmass %><br>
              <% end %>

               <% if @postmod.tainvoice? %>
                  Total Amount Invoice: <%= @postmod.tainvoice %><br>
              <% end %>

               <% if @postmod.description? %>
                  Description: <%= @postmod.description %><br>
              <% end %>

               <% if @postmod.commcode? %>
                  Commodity Code: <%= @postmod.commcode %><br>
              <% end %>
                <% if @postmod.vinserial? %>
                  Vin / Serial Number: <%= @postmod.vinserial %><br>
              <% end %>

               <% if @postmod.airbill? %>
                  Airway Bill: <%= @postmod.airbill %><br>
              <% end %>

               <% if @postmod.origin? %>
                  Origin: <%= @postmod.origin %><br>
              <% end %>

               <% if @postmod.currency? %>
                  Currency: <%= @postmod.currency %><br>
              <% end %>

               <% if @postmod.iquantity? %>
                  Item Quantity: <%= @postmod.iquantity %><br>
              <% end %>

               <% if @postmod.procexproccode? %>
                  Procedure Extended Procedure Code: <%= @postmod.procexproccode %><br>
              <% end %>

               <% if @postmod.itemvalue? %>
                  Item Value: <%= @postmod.itemvalue %><br>
              <% end %>

               <% if @postmod.prevdocrefnum? %>
                  Previous Document Reference Number: <%= @postmod.prevdocrefnum %><br>
              <% end %>


                <% if @postmod.bolading? %>
                  Bill of Lading: <%= @postmod.bolading%><br>
              <% end %>

                 <% if @postmod.amendfeerec? %>
                  Ammendment Fee Receipt (General Modification): <%= @postmod.amendfeerecgm %><br>
              <% end %>

                 <% if @postmod.transletter? %>
                  Transletter: <%= @postmod.transletter %><br>
              <% end %>
                 <% if @postmod.invoice? %>
                  Invoice: <%= @postmod.invoice %><br>
              <% end %>

                 <% if @postmod.vvslip? %>
                  Vehicle Valuation Slip: <%= @postmod.vvslip %><br>
              <% end %>

               <% if @postmod.sscertificate? %>
                  Short Shipment Certificate: <%= @postmod.sscertificate %><br>
              <% end %>

               <% if @postmod.otherasd? %>
                  Other (Supporting Attached Documents): <%= @postmod.otherasd %><br>
              <% end %>

               <% if @postmod.reason? %>
                  Reason: <%= @postmod.reason %><br>
              <% end %>

               
                  
              

               <% if @postmod.addinfo? %>
                  Additional Information: <%= @postmod.addinfo %><br>
              <% end %>

               <% if @postmod.adminreason? %>
                  Reason For Admin Decision: <%= @postmod.adminreason %><br>
              <% end %>

               
               
              

              
    </p>
    <p>
      To login to the site, just follow this link: <a href="http://customsapplications.herokuapp.com/postmods"> Customs Application For Post Modification</a>
    </p>
    <p>Thanks for your assistance. Have a great day!</p>
  </body>
</html>