<html>
<head>
<title> Customs Application For Refund Of Duty </title>
<style>
table, th, td, tr {
 border: 1px solid black;
 border-collapse: collapse;
 text-align: center;
 background-color:#f5f3f2;
}
</style>
</head>
<body>

<p id="notice"><%= notice %></p>

<h1 align="center">Submitted Applications For Refund OF Duty</h1>
<br><br>
<%= link_to 'Home', root_path %>

<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<br><br>

<%= link_to 'View List of Applications Submitted for Refund of Duty', refunds_path %><br><br>
<%= link_to 'New Application for Refund of Duty', new_refund_path %>
<br><br>

<table width="100%">
  <thead>
    <tr>
      <th>Vessel Name</th>
      <th>Rotion Number</th>
      <th>Entry Number</th>
      <th>Refund Amount</th>
      <th>User</th>
      
    </tr>
  </thead>
<tbody>
    <% @refunds.each do |refund| %>
    <% if refund.user.username == current_user.username || current_user.admin == true %>
      <tr>
        <td><%= refund.vessel %></td>
        <td><%= refund.rotNum %></td>
        <td><%= refund.entryNum %></td>
        <td><%= refund.refundof %></td>
        <td><%= refund.user.username %></td>
        <td><%=link_to 'Show', refund %>
        <% if current_user.admin == true %>
        <td><%= link_to 'Edit', edit_refund_path(refund) %></td>
        <% end %>
        <% if current_user.admin == true %>
        <td><%= link_to 'Destroy', refund, method: :delete, data: {confirm: 'Are You Sure?' } %>
        <% end %>
       </td>
      </tr>
    <% end %>

<%end%>
</tbody>
</table>

</body>
</html>

