<p id="notice"><%= notice %></p>

<p>
  <strong>Vessel:</strong>
  <%= @refund.vessel %>
</p>

<p>
  <strong>Rotnum:</strong>
  <%= @refund.rotNum %>
</p>

<p>
  <strong>Entrynum:</strong>
  <%= @refund.entryNum %>
</p>

<p>
  <strong>Refundof:</strong>
  <%= @refund.refundof %>
</p>

<p>
  <strong>Enteredas:</strong>
  <%= @refund.enteredAs %>
</p>

<p>
  <strong>Enteredasq:</strong>
  <%= @refund.enteredAsQ %>
</p>

<p>
  <strong>Enteredasv:</strong>
  <%= @refund.enteredAsV %>
</p>

<p>
  <strong>Enteredasr:</strong>
  <%= @refund.enteredAsR %>
</p>

<p>
  <strong>Enteredasd:</strong>
  <%= @refund.enteredAsD %>
</p>

<p>
  <strong>Shouldbe:</strong>
  <%= @refund.shouldBe %>
</p>

<p>
  <strong>Shouldbeq:</strong>
  <%= @refund.shouldBeQ %>
</p>

<p>
  <strong>Shouldbev:</strong>
  <%= @refund.shouldBeV %>
</p>

<p>
  <strong>Shouldber:</strong>
  <%= @refund.shouldBeR %>
</p>

<p>
  <strong>Shouldbed:</strong>
  <%= @refund.shouldBeD %>
</p>

<p>
  <strong>Reasonsupportrefund:</strong>
  <%= @refund.reasonSupportRefund %>
</p>

<p>
  <strong>Refundclaimed:</strong>
  <%= @refund.refundClaimed %>
</p>

<p>
  <strong>Date:</strong>
  <%= @refund.date %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @refund.signature %>
</p>

<p>
  <strong>Appdate:</strong>
  <%= @refund.appDate %>
</p>

<p>
  <strong>Compsig:</strong>
  <%= @refund.compSig %>
</p>

<p>
  <strong>Claimnum:</strong>
  <%= @refund.claimNum %>
</p>

<p>
  <strong>Receiveddate:</strong>
  <%= @refund.receivedDate %>
</p>

<p>
  <strong>Claimantsig:</strong>
  <%= @refund.claimantSig %>
</p>

<p>
  <strong>User:</strong>
  <%= @refund.user.username %>
</p>

<%= link_to 'Edit', edit_refund_path(@refund) %> |
<%= link_to 'Back', refunds_path %>
